*
{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;
}
.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}
.contlogo
{
  position: relative;
}
.logo{
    height: 100px;
    padding: 2px 10px;
    border-radius: 25%;
}
.overlaylogo
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: darkred;
}
.contlogo:hover .overlaylogo
{
    opacity: 1;
}
.textlogo
{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



.icon-bar
{
    background: darkred;
}
li a
{
    color: #333;
}
.big-text
{
    font-size: 52px;
    margin:28px 0;
    color:darkred;
}



a.btn
{
    margin: 30px 10px;
    width: 150px;
    padding:10px;
    border-radius:20px;
    
}
a.btn-first
{
    background-color: darkred;
    color: #fff;
}
a.btn-second
{
    background: transparent;
    border: 1px solid darkred;
    color: #333;
}
a.btn:hover
{
    background:darkred;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;    
}
.banner-info, .banner-image
{
    margin: 30px 0;
}